<div>
	<br></br>
	<div class="list-group">
		<div class="sidebar-offcanvas" id="sidebar">
			<ul style="list-style: none; padding-left:0px;">
				<li ng-repeat="exercise in exercises.exerciseList">
					<a ng-href="#/exercise/{{exercise.id}}/{{exercise.name}}/log" class="list-group-item">
						{{exercise.name}}
						<i class="fa fa-check-circle-o pull-left" style="color:#2a9fd6;" ng-show="exercise.logs.length > 0"></i>
					</a>
				</li>
			</ul>
			</div>
		</div>
	<div ui-view="log"></div>
</div>