<div>
	<br>
	<div class="list-group">
		<div class="sidebar-offcanvas" id="sidebar">
			<ul style="list-style: none;">
				<h2>{{workoutName}}</h3>
				<h4>Weight</h6>
				<div style="width:50%">
					<input type="number" name="input" ng-model="weight">
					<h4>Reps</h4>
					<input type="number" name="input" ng-model="reps">
					<h4>Notes</h4>
					<input style="background-color:white" type="text" name="input" ng-model="notes">
				</div>
				<br>
				<button style="width:50%" class="btn btn-primary btn-sm" ng-click="logWorkout(reps, weight, notes)"> Log</button>
			</ul>
			<div>
				<div ng-show="logs !== null" ng-repeat="log in logs.logs track by $index">
					<h3 style="margin-left:5%">
						<a ng-click="edit(log.id, log.weight, log.reps, log.notes, true)" style="color:white">Set {{$index+1}}: {{log.weight}}lbs {{log.reps}}x
						</a> 
						<a ng-show="log.notes !== null">
							<i style="margin-left:1%" class="fa fa-file-text-o"></i>
						</a>
						<br>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>