<header id="header" data-ng-include="'views/template/header.html'"></header>

<div class="lc-block" id="l-login" data-ng-class="{ 'toggled': loginActive }" data-ng-if="loginActive" style="width: 100%;">
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" ng-model="email" placeholder="Username" style="background-color: white;">
        </div>
    </div>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span>
        <div class="fg-line">
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Keep me signed in
        </label>
    </div>

    <a href="" class="btn btn-login btn-danger btn-float" ng-click="loadUser(email, password)"><i class="fa fa-share"></i></a>

    <ul class="login-navigation">
        <li data-block="#l-register" class="bgm-red" ng-click="activeWindow('register')">Register</li>
        <li data-block="#l-forget-password" class="bgm-orange" ng-click="activeWindow('forgot')">Forgot Password?</li>
    </ul>
</div>

<!-- Register -->
<div class="lc-block" id="l-register" data-ng-class="{ 'toggled': registerActive }" data-ng-if="registerActive" style="width: 100%;">
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" ng-model="email" placeholder="Username" style="background-color: white;">   
        </div>
    </div>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-envelope fa-2x"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address" style="background-color: white;">
        </div>
    </div>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span>
        <div class="fg-line">
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Accept the license agreement
        </label>
    </div>

    <a href="" class="btn btn-login btn-danger btn-float"><i class="fa fa-share"></i></a>

    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" ng-click="activeWindow('login')">Login</li>
        <li data-block="#l-forget-password" class="bgm-orange" ng-click="activeWindow('forgot')">Forgot Password?</li>
    </ul>
</div>

<!-- Forgot Password -->
<div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': forgotActive }" data-ng-if="forgotActive" style="width: 735px;">
    <p class="text-left">Find your account. Enter email for password to be sent.</p>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="fa fa-envelope fa-2x"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address" style="background-color: white;">
        </div>
    </div>

    <a href="" class="btn btn-login btn-danger btn-float"><i class="fa fa-share"></i></a>

    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" ng-click="activeWindow('login')">Login</li>
        <li data-block="#l-register" class="bgm-red" ng-click="activeWindow('register')">Register</li>
    </ul>
</div>